<div class="">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <img src="../assets/11.jpg" width="90px" height="44px" >
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Acceuil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add"  >Reserver </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="consulter">Consulter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create">Creer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="modify"></a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
</div>
<footer>
       <p>
           Projet 2020 - &copy; Just Fly With Us 
       </p> 
</footer>
