<div class=" container">
    <h2>Reserver</h2>
    <div class="jumbotron">
<form [formGroup]="modifyform" (ngSubmit)="updatevol()" >
    <div class="form-group">
        <label for ="destination">Destination</label>
        <select name="pays"formControlName ="destination" required>
            <option value="afrique" >Afrique </option>
            <option value="europe" >Europe </option>
            <option value="amerique" >Amerique </option>
            <option value="australie" >Australie </option>
            <option value="asie" >Asie </option>
        </select>
       
    </div>
    <div class="form-group">
        <label>Date-Depart</label>
        <input type ="date"  class="form-control" name="Date_dep"  formControlName ="Date_dep"  required >
    </div>
    <div class="form-group">
        <label>Duree du sejour(en nuitée)</label>
        <input type ="number "  class="form-control"name="duree" formControlName ="duree" required >
    </div>
    <div class="form-group">
        <label>Date-Retour</label>
        <input type ="date" class="form-control"name="Date_ret" formControlName ="Date_ret" required >
    </div>
<button class="btn btn-success" [disabled]="modifyform.invalid">Reserver</button>
</form>
</div>
</div>
 <br>