
<head>
    <title>Document</title>
</head>
<body>
    <header><h1>{{title}}</h1></header>
    <div id= "centre">
        <aside>
            <nav>
                <h3>Menu</h3>
                <ul>
                    <li><a href="#accueil">Accueil</a></li>
                    <li><a href="#prestation">Prestation</a></li>
                    <li><a href="#galerie">Galerie</a></li>
                    
                </ul>
            </nav>
        </aside>
        <main>
            <section  id="accueil">
            <img src="./assets/13.jpg" alt="Voyage dans l'univers">
            <h2>Let's go !</h2>
            <p>Notre agence de voyage,forte d'une experience de plus de 20 ans ,saura vous guider pour creer le séjjour de vos reves .Avec plus de 5000 clients satisfait a notre actif,nous savons repondre a toutes les demandes et des délais restreints </p> 
            <p>Notre service clientelle est aux petit soins a n'importe quelle heur de la journee ,et n'importe quel jour de la samaine ,pour assurer sérenite et bien-étre .L'obectif ent simple : <strong>profiter de votre séjour !!</strong>  </p>
            <span></span>   
        </section>
        <section id="prestation">
            <h2>Prestation</h2>
                <div class="service">
                    <img src="./assets/3.jpg" alt="avion">
                    <h3>Transport</h3>
                    <p>Nous garantissons un transport agreable et sans stresse .Grace a une organisation solide ,vous n'aures qu'a vous laisser guider par nos conseillers.  </p>
                </div>

                <div class="service">
                    <img src="./assets/4.jpg" alt="Carte">
                    <h3>Visite</h3>
                    <p>Decouvrez des endeoits incroyable et vivez des experiences inedires grace a nos guides locaux sur chaque planéte. </p>
                </div>

                <div class="service">
                    <img src="./assets/10.jpg" alt="Parasol">
                    <h3>Plaisir</h3>
                    <p>Detendez-vous en profitant de grandes piscine et ce coktails genereusement preparés pour vous dans notre selection d'hotels de luxe. </p>
                </div>  
                <span></span>
            </section>
            <section id="galerie">
                <h2>Galerie</h2>
                <img src="/assets/9.jpg" alt="">
                <img src="/assets/7.jpg" alt="">
                <img src="/assets/8.jpg" alt="">
                <img src="/assets/6.jpg" alt="">
                <span></span>
            </section>
        </main>
         
    </div>
    
</body>
